@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}


<html>
<head>
    <title>Party Invite App</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to My Party</h1>
        <p>We are going to have a party!</p>
        <p> Click <a asp-action="RsvpForm">here</a> to rsvp </p>

    </div>
</body>
</html>




